.first-color { 
	background: #22559c; 
}
	
.second-color { 
	background: #f27370; 
}

.third-color { 
	background: #fa9856; 
}

.fourth-color { 
	background: #ede862; 
}

h2 {
  font-size: 26px;
}

#app {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  /* max-width: 70%; */
  min-width: fit-content;
  
}
#topContainer, #bottomContainer {
  margin: 10px; 
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#topContainer {
  /* border: 1px solid green; */
  gap: 5px;
  
}
#topContainer textarea {
  height: 90%;
  width: 98%;
  border: 1px solid rgb(158, 185, 195);
  border-radius: 4px;
  outline: none;
  overflow: auto;
  overflow-wrap: break-word;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 30px; 
}
#requestForm,
#results {
  border: 1px solid rgba(55, 0, 255, 0.23);
  border-radius: 4px;
  padding: 18px;
  /* min-width: 40%; */
  width: 48%;
  height: 50vh;
  background-color: rgba(240, 248, 255, 0.451);
}

#requestForm button {
  float: right;
  margin-top: 10px;
  background-color: #171d9b ;
  border-radius: 8px;
  color: white;
}

#queryResponse{
  border: 1px solid rgba(55, 0, 255, 0.23);
  /* background-color: rgb(255, 255, 255); */
  padding: 30px;
  border-radius: 4px;
  height: 40vh;
  overflow-wrap: break-word;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
#bottomContainer {
  border: 1px solid rgba(55, 0, 255, 0.23);
}


#tableResponse {
  overflow-wrap: break-word;
  width: 70%;
}
table {
  text-align: center;
}
/* #timeHeader, #sourceHeader, #tableSource, #tableTime{
  text-align: center;
} */

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	/* background-color: rgba(101, 179, 248, 0.268); */
  background-color: #d0e7fc;
}